# OS files
.DS_Store
Thumbs.db

# Node.js / JavaScript
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
*.swp

# Environment files
.env
.env.local
.env.*.local
